@{
    ViewData["Title"] = "Contact";
}

<div>
    <h2>Contact Us At : </h2>
    <ul>
        <li>Phone Number : 7894561320</li>
        <li>Email : enquire.query@knowit.com</li>
        <li>Address : Office No: 2, First Floor, "Gokhale Sanchit"</br> &emsp;&emsp;&emsp;&emsp;Survey No: 846 Servants of India Society,</br> &emsp;&emsp;&emsp;&emsp;BMCC Road, Off FC Rd, Deccan Gymkhana, </br>&emsp;&emsp;&emsp;&emsp;Pune, Maharashtra 411004</li>
    </ul>
</div>
