@{
    ViewData["Title"] = "Order History";
}
<div >
    <h2>Order Details</h2>
    </br>
    </br>
    <dl>
        <dt>
            Order Id : 7561
        </dt>
        <dd>
            &emsp;&emsp;Date : 05/01/2023
            &emsp;&emsp;Price : 450
            &emsp;&emsp;Status : Delivered
        </dd>
        <dt>
            Order Id : 7145
        </dt>
        <dd>
            &emsp;&emsp;Date : 05/01/2023
            &emsp;&emsp;Price : 600
            &emsp;&emsp;Status : Delivered
        </dd>
        <dt>
            Order Id : 7989
        </dt>
        <dd>
            &emsp;&emsp;Date : 05/01/2023
            &emsp;&emsp;Price : 540
            &emsp;&emsp;Status : Processing
        </dd>
        <dt>
            Order Id : 7544
        </dt>
        <dd>
            &emsp;&emsp;Date : 05/01/2023
            &emsp;&emsp;Price : 800
            &emsp;&emsp;Status : Processing
        </dd>
    </dl>
    </br>
    </br>
    <a href="/Products/Index"><h3>Show Products</h3></a>
</div>